.container {
    display: grid;
    grid-template-columns: 24rem 1fr;
    grid-template-areas: "navbar navbar"
        "sidebar main";
}

.navbar {
    grid-area: navbar;

}

.sidebarNav {
    grid-area: sidebar;
}

.topBar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 6.5rem;
    padding: 1.5rem 0rem 1.5rem;
}
.main {
    grid-area: main;
    height: calc(100vh - 8rem);
    overflow: auto;
}

.likedVideos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
    justify-items: center;
    gap:2px;
    padding: 1rem 3.2rem;
    }
@media screen and (max-width:640px) {
    .container {
        grid-template-columns: 8rem 1fr;
    }
}

@media screen and (max-width:460px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas: "navbar"
            "main"
            "sidebar";
    }

    .likedVideos {
        padding: 1rem;
    }

    .sidebar {
        position: fixed;
        z-index: 1100;
        bottom: 0;
        left: 0;
        right: 0;
    }
}