.container {
    display: grid;
    grid-template-columns: 24rem 1fr;
    grid-template-areas: "navbar navbar"
        "sidebar main";
}

.navbar {
    grid-area: navbar;

}

.sidebarNav {
    grid-area: sidebar;
}

.topBar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    max-height: 6.5rem;
    padding: 1.5rem 6.7rem 1.5rem;
}


.main {
    grid-area: main;
    height: calc(100vh - 8rem);
    overflow: auto;
}

.historyVideos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
    justify-items: center;
    gap: 2px;
    padding: 1rem 3.2rem;
}

.btnDeletePlaylist {
    margin: 0;
}