.cardVideo{
    padding: 0 0 1rem;
    min-width: 32rem;
    max-height: 28rem;
    border-radius: 0;
    background-color: transparent;
    color: var(--WHITE-COLOR);
}

.videoMenu{
    font-size: 2.4rem;
    cursor: pointer;
}

.videoCardBody{
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding:0 1rem .5rem;
}

.videoTitle{
    flex-grow: 1;
}

.videoCardFooter{
    align-items: center;
    padding-left:4.1rem;
    color: var(--GRAY-COLOR);
}

.deleteIcon {
    cursor: pointer;
    font-size: 3rem;
    text-align: center;
    color: var(--ROSE-RED);
    background-color: var(--TRAFFIC-WHITE-COLOR);
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 50%;
    position: absolute;
    right: 8px;
    opacity: .9;
    top: 5px;
}

.deleteIcon:hover {
    opacity: 1;
}

.deleteIcon:active {
    color: var(--TRAFFIC-WHITE-COLOR);
    background-color: var(--ROSE-RED);
}

.videoViewsCount {
    color: var(--GRAY-COLOR);
}
.videoCardMenu {
    position: absolute;
    bottom: 68px;
    right: 0;
}

.videoCardMenu:active {
    color: var(--PRIMARY-COLOR);
}

.videoOptions {
    position: absolute;
    width: 16rem;
    right: 0;
    bottom: -22px;
    background-color: var(--PRIMARY-COLOR);
    color: var(--SCROLLBAR-BG-COLOR);
    padding: 0;
    border: thin solid var(--ACCENT-COLOR);
    border-radius: 0;
}

.videoOptionsItem {
    font-size: 1.3rem;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
    width: 100%;
    cursor: pointer;
    color: var(--TRAFFIC-WHITE-COLOR);
}

.videoOptionsItem:nth-of-type(1) {
    border-bottom: thin solid var(--ACCENT-COLOR);
}

.videoOptionsItem:hover {
    background-color: var(--LIGHT-GRAY-COLOR);
    color: var(--TRAFFIC-WHITE-COLOR);
}