.cardVideo{
    padding: 0 0 1rem;
    min-width: 32rem;
    border-radius: 0;
}

.videoMenu{
    font-size: 2.4rem;
    cursor: pointer;
}

.videoCardBody{
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding:0 1rem .5rem;
}

.videoTitle{
    flex-grow: 1;
}

.videoCardFooter{
    justify-content: flex-end;
}

