.shuttleMotionSnackbar {
    margin-bottom: 1rem;
    transition: .3s ease;
    bottom: 1rem;
    right: 1rem;
}

.snackbarContainer {
    font-size: 14px;
    position: fixed;
    z-index: 10;
    bottom: 1rem;
    right: 1rem;
    animation: toast-in-right .7s;
}

@keyframes snackbar-in-right {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}