.shuttleMotionSnackbar {
    margin-bottom: 1rem;
    transition: .3s ease;
    bottom: 1rem;
    right: 1rem;
}

@keyframes snackbar-in-right {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}