.container{
    display: grid;
    grid-template-columns: 24rem 1fr;
    grid-template-areas: "navbar navbar"
    "sidebar main";
}

.navbar{
    grid-area: navbar;
   
}

.sidebarNav{
    grid-area: sidebar;
}

.main{
    grid-area:main;
    height: calc(100vh - 8rem);
    overflow: auto;
}

.categoryChips{
    width:100%;
    min-height: 6.2rem;
    padding:1.8rem 7rem 1.7rem;
    border-bottom: 1px solid var(--CARD-SHADOW-1);
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
}

.searchBar {
    margin-left: auto;
}

.videoSearchBar {
    border-radius: 25px;
    padding: .6rem 2rem;
    flex-grow: 1;
    background-color: var(--GRAY-COLOR);
    color: var(WHITE-COLOR);
    border: none;
}

.searchIcon {
    font-size: 2rem;
    margin-left: -22px;
    color: var(--BLACK-COLOR);
}
.videosThumbnail{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
    justify-items: center;
    gap:2px;
    padding: 1rem 3.2rem;
}

@media screen and (max-width:640px) {
    .container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:460px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas: "navbar"
            "main"
            "sidebar";
    }

    .sidebarNav {
        position: fixed;
        z-index: 1100;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

@media screen and (max-width:384px) {
    .videosThumbnail {
        padding: 0;
        padding-left: 8px;
        gap: 0
    }
}