.container{
    display: grid;
    grid-template-columns: 24rem 1fr;
    grid-template-areas: "navbar navbar"
    "sidebar main";
}

.navbar{
    grid-area: navbar;
   
}

.sidebarNav{
    grid-area: sidebar;
}

.main{
    grid-area:main;
    height: calc(100vh - 8rem);
    overflow: auto;
}

.categoryChips{
    width:100%;
    padding:1.2rem;
    display: flex;
    flex-wrap: wrap;
    padding-left:5rem;
    gap:2rem;
}

.videosThumbnail{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    padding-left:5rem;
    gap:5rem;
    padding-right:5rem;
    
}