.navbar{
    background-color: var(--PRIMARY-COLOR-DARK);
    padding:0 3rem;
    border-bottom:1px solid var(--CARD-SHADOW-1);
}

.flexRowEnd{
    justify-content: flex-end;
}

.loginBtn{
    font-size: 2rem;
    align-items: center;
    padding: 1.2rem;
    background-color: var(--PRIMARY-COLOR);
}

.hamburger{
    font-size: 2.8rem;
    cursor: pointer;
}

.hamburger:hover{
    color:var(--WHITE-COLOR)
}


