.playlistsCard {
background-color: var(--PRIMARY-COLOR);
}
.playlistOverlay {
    height: 13rem;
    bottom: 7.4rem;
    padding: 1rem;
    pointer-events: none;
}

.playlistsCardHeader {
    padding: 0;
}

.playlistCardImg {
    object-fit: contain;
    object-position: top left;
}