@import url("https://shuttleui.netlify.app/components/components-styles/shuttleUI-main.css");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root{
  --PRIMARY-COLOR:#4b4453;
  --PRIMARY-COLOR-DARK:#3c3642;
  --SECONDARY-COLOR:#004052;
  --SCROLLBAR-BG-COLOR:#181818;
  --WHITE-COLOR:#FFF;
  --TRAFFIC-WHITE-COLOR:#F4F4F4;
  --TEXT-HIGHLIGHT-COLOR:#767971;
  --CHIPS-TEXT-COLOR:#c4ceb2;
  --ACCENT-COLOR:#767971;
  --GRAY-COLOR:#d8cccc;
  --ROSE-RED: #ff5964;
  --CARD-SHADOW-1:rgba(0,0,0,0.12);
  --CARD-SHADOW-2:rgba(0,0,0,0.24);
}

/*RESET CSS*/
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-size: 62.5%;
}

html{
  font-family: 'Lato', sans-serif;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--SCROLLBAR-BG-COLOR) var(--PRIMARY-COLOR-DARK);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 1.2rem;
}

*::-webkit-scrollbar-track {
  background: var(--PRIMARY-COLOR-DARK);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--SCROLLBAR-BG-COLOR);
  border-radius: 20px;
  border: 3px solid var(--PRIMARY-COLOR-DARK);
}

body{
  background-color:var(--PRIMARY-COLOR-DARK);
}
.text-highlight{
  color: var(--TEXT-HIGHLIGHT-COLOR);
}

.card{
  box-shadow:none;
}

.text-primary{
  color: var(--PRIMARY-COLOR);
}

.form-input {
  border-radius: 5px;
  font-size: 1.4rem;
  border: 1px solid var(--PRIMARY-COLOR);
}

.form-btn {
  border: none;
  cursor: pointer;
  width: 100%;
}