.container {
    display: grid;
    grid-template-columns: 24rem 1fr;
    grid-template-areas: "navbar navbar"
        "sidebar main";
}

.navbar {
    grid-area: navbar;

}

.sidebar {
    grid-area: sidebar;
}

.main {
    grid-area: main;
    display: flex;
    height: calc(100vh - 8rem);
    padding: 5rem;
    overflow: auto;
}

/*VIDEO PLAYER STYLING*/

.videoPlayer {
    grid-area: videoplayer;
    max-width: 800px;
    max-height: 450px;
}

.iframeContainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
}

.iframeContainer iframe {
    box-shadow: 1px 1px 1px 1px var(--CARD-SHADOW-1);
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


/*VIDEOS ABOUT SECTION*/
.videoAbout {
    max-width: 800px;
    color: var(--TRAFFIC-WHITE-COLOR);
}

.videoAbout>h3 {
    margin-left: 0;
    padding-top: 1rem;
    color: var(--TRAFFIC-WHITE-COLOR);

}

.videoViewsCount {
    color: var(--GRAY-COLOR);
    margin-right: auto;
}

.videoButtons {
    align-items: center;
}

.videoDescription {
    color: var(--GRAY-COLOR);
    padding-top: 2rem;
}

hr {
    border: 0;
    height: 0;
    margin-top: 1rem;
    border-top: 1px solid var(--ACCENT-COLOR);
}

.btnVideoPlayer {
    font-size: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
}

.btnVideoPlayer .text-md {
    padding-left: 1rem;
}

/*RECOMMENDATION SECTION STYLING*/

.videoRecommendation {
    grid-area: videorecommendation;
}

.recommendationHeading {
    color: var(--TRAFFIC-WHITE-COLOR);
    margin-top: 0;
    padding-bottom: 2rem;
}
@media screen and (max-width:1120px) {
    .main {
        flex-direction: column;
    }

    .videoPlayer {
        max-height: 450px;
    }

    .videoRecommendation {
        padding-top: 22rem;
    }
}

@media screen and (max-width:640px) {
    .container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:460px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas: "navbar"
            "main"
            "sidebar";
    }

    .main {
        padding: 5rem 2rem;
    }

    .sidebar {
        position: fixed;
        z-index: 1100;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
